:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --tile-size: 50px;
}

#board {
  width: calc(var(--tile-size) * 8);
  height: calc(var(--tile-size) * 8);
  display: grid;
  grid-template-columns: repeat(8, var(--tile-size));
  grid-template-rows: repeat(8, var(--tile-size));
  border: 2px solid black;
  margin: 0 auto 0 auto;
}

#tile {
  height: var(--tile-size);
  width: var(--tile-size);
  border: 2px solid black;
  box-sizing: border-box;
}

.white {
  background-color: beige;
}

.black {
  background-color: brown;
}

h1 {
  text-align: center;
  margin: 50px 0 50px 0;
}

/* Black Pieces */
.black-pawn {
    background-image: url("./assets/black-pawn.png");
    background-size: cover;
}
.black-knight {
    background-image: url("./assets/black-knight.png");
    background-size: cover;
}
.black-bishop {
    background-image: url("./assets/black-bishop.png");
    background-size: cover;
}
.black-rook {
    background-image: url("./assets/black-rook.png");
    background-size: cover;
}
.black-queen {
    background-image: url("./assets/black-queen.png");
    background-size: cover;
}
.black-king {
    background-image: url("./assets/black-king.png");
    background-size: cover;
}

/* White Pieces */
.white-pawn {
    background-image: url("./assets/white-pawn.png");
    background-size: cover;
}
.white-knight {
    background-image: url("./assets/white-knight.png");
    background-size: cover;
}
.white-bishop {
    background-image: url("./assets/white-bishop.png");
    background-size: cover;
}
.white-rook {
    background-image: url("./assets/white-rook.png");
    background-size: cover;
}
.white-queen {
    background-image: url("./assets/white-queen.png");
    background-size: cover;
}
.white-king {
    background-image: url("./assets/white-king.png");
    background-size: cover;
}
